# ======================
# Visual Studio / .NET
# ======================
.vs/
bin/
obj/
*.user
*.suo

# ======================
# Angular / Node
# ======================
node_modules/
dist/
.angular/

# ======================
# OS / Env
# ======================
.env
